/* Profil CSS */
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 100px;
    color: #333;
    font-size: 35px;
    font-family:"Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}

.profil-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 30px;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    border-radius: 12px;
    max-width: 900px;
    border: 1px solid #ccc;
}

.profil-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}
.avatar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #d1d5db;
}

.profil-info {
    flex: 2;
    padding-left: 30px;
}

.profil-info p {
    font-size: 1rem;
    margin: 10px 0;
    color: #333;
    text-align: left; /* Changed from default to left */
}

.profil-info strong {
    color: #000000;
    font-family:"Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    text-align: left;
}

.edit-profile {
    text-align: center;
    margin-top: 30px;
}

.edit-profile .button {
    margin-top: 10px;
    font-family:"Plus Jakarta Sans", sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: black; /* Latar belakang hitam */
    color: white; /* Teks berwarna putih */
    padding: 10px 20px; /* Jarak di dalam tombol */
    font-size: 16px; /* Ukuran font */
    font-weight: 500; /* Berat font */
    border: none; /* Hapus border */
    border-radius: 50px; /* Membuat tombol oval */
    text-decoration: none; /* Hapus garis bawah link */
    cursor: pointer; /* Kursor berubah menjadi pointer */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Efek animasi */}

.edit-profile .button:hover {
    background-color: #333; /* Warna sedikit lebih terang saat hover */
    transform: scale(1.05); /* Sedikit memperbesar tombol saat hover */
}

p {
    text-align: center;
    margin-top: 20px;
    font-family:"Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}

p a {
    color: #ff0000;
    text-decoration: none;
    font-family:"Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}

p a:hover {
    text-decoration: underline;
}

/* Responsif untuk perangkat mobile */
@media (max-width: 768px) {
    .profil-container {
        flex-direction: column;
        align-items: center;
    }

    .profil-info {
        padding-left: 0;
        text-align: center;
    }
}
